body{
	background-color: #F0EAD6;
}

h1{
	font-family: 'Abel', sans-serif;
}
.navbar{
	font-family: 'Abel', sans-serif;
}
.navbar-brand{
	font-weight: bold;
}


#E6563B
#EB9D3A
#7CB06C
#00ABA9
#F0F0F0
#E6E6E6