:root {
	--bs-orange: #E6563B;
	--bs-yellow: #EB9D3A;
	--bs-green: #7CB06C;
	--bs-blue: #00ABA9;
}

/*extra small*/
@media (max-width: 575px){
	h1 {
		font-size: 2.75rem;
	}
	.navbar-brand {
		content-visibility: hidden;
	}
}
/*small*/
@media (min-width: 576px) and (max-width: 767px){
	h1 {
		font-size: 4.25rem;
	}
	.navbar-brand {
		content-visibility: hidden;
	}
}
/*medium*/
@media (min-width: 768px) and (max-width: 991px){
	h1 {
		font-size: 3rem;
	}
	.navbar-brand {
		content-visibility: hidden;
	}
}
/*large*/
@media (min-width: 992px) and (max-width: 1199px){
	h1 {
		font-size: 3.75rem;
	}
}
/*xlarge*/
@media (min-width: 1200px) {
	h1 {
		font-size: 3.25rem;
	}
}

body{
	background-color: #F0F0F0;
}

.img-fluid{
	max-width: 100%;
	height: auto;
	border-radius: 2px;
	border: #E6E6E6 solid 5px;
}
.image-list{
	height: 100px;
	width: 150px;
}

h1{
	font-family: 'Anton', sans-serif;
	text-align: center;
	margin: .5em;
}
h3{
	font-family: 'Anton', sans-serif;
	text-align: center;
	margin: .5em;
}

h5{
	font-weight: bold;
}

.navbar{
	font-family: 'Abel', sans-serif;
	background-color: #F0F0F0;
}

.big-button{
	text-align: center;
	border-radius: 100%;
	font-family: 'Anton', sans-serif;
	color: white;
	border: white 5px solid;
	height: 100px;
	width: 100px;
	text-align: center;
	line-height: 90px;
	margin: 30px;
}
ul {
	list-style-type: none;
}
.list-tweet{
	margin: 0 0 50px 0;
}

.position-absolute{
	position: absolute;
	color: white;
	font-size: 15px;
	font-family: 'Anton', sans-serif;
	justify-content: center;
	left: 17px;
	margin: 10px auto;
}

.card-button{
	border-radius: 50%;
	float: right;
	width: 23px;
	text-align: center;
	font-family: 'Anton', sans-serif;
	color: black;
	margin: 2px;
}

.navbar-brand{
	font-weight: bold;
}
.workselected{
	text-align: center;
	font-family: 'Abel', sans-serif;
}
.buttons-row{
	display: flex;
	justify-content: center;
}


col-xl-* col-lg-* col-md-* col-sm-*