body{
	background-color: #F0F0F0;
}

h1{
	font-family: 'Anton', sans-serif;
	text-align: center;
	margin: .5em;
}
h3{
	font-family: 'Anton', sans-serif;
	text-align: center;
	margin: .5em;
}
.navbar{
	font-family: 'Abel', sans-serif;
	background-color: #F0F0F0;
}
.navbar-brand{
	font-weight: bold;
}
.workselected{
	text-align: center;
	font-family: 'Abel', sans-serif;
}


#E6563B
#EB9D3A
#7CB06C
#00ABA9
#F0F0F0
#E6E6E6